.slick-slider {
  transition: all 0s;
  margin-bottom: -7px;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  position: absolute !important;
  /* margin-top: -60px !important; */
  bottom: 10px;
}
